@{
    ViewData["Title"] = "Home Page";
}

<div>
    <h5>USER ID @ViewData["AppUserId"]</h5>
</div>

<div class="row-fluid">
    <div class="col-sm-12">
        <table cellpadding="0" cellspacing="0" border="0"
               class="table table-striped table-bordered center-table"
               id="tableTrips">
            <thead>
                <tr>
                    <th> No </th>
                    <th> Title </th>
                    <th> Destination </th>
                    <th> Country </th>
                    <th> Date </th>
                    <th></th>
                </tr>
            </thead>
            <tbody id="tripsBody"></tbody>
        </table>

        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#tripModal" onclick="clearTextBox();">Add New Trip</button><br /><br />

    </div>


    <div class="modal fade" id="tripModal" tabindex="-1" role="dialog" aria-labelledby="tripModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title" id="tripModalLabel">Add Trip</h4>
                </div>
                <div class="modal-body">
                    <form>

                        <div class="form-group">
                            <label for="Name">Title</label>
                            <input type="text" class="form-control" id="Title" placeholder="Title" />
                        </div>
                        <div class="form-group">
                            <label for="Age">Destination</label>
                            <input type="text" class="form-control" id="Destination" placeholder="Destination" />
                        </div>
                        <div class="form-group">
                            <label for="State">Date</label>
                            <input type='text' class="form-control" id="Date" />
                        </div>
                        <div class="form-group">
                            <label for="Country">Country</label>
                            <select id="Country" class="form-control">
                                <option value="Select">Select</option>
                            </select>
                            @*<input type="text" class="form-control" id="Country" placeholder="Country" />*@
                        </div>

                        @*HIDDEN*@
                        <div class="form-group">
                            <input type="text" class="form-control" id="TripId" disabled="disabled" hidden="hidden" />
                        </div>
                        <div class="form-group">
                            <input type="text" class="form-control" id="UserId" disabled="disabled" hidden="hidden" />
                        </div>

                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" id="btnAdd" onclick="return addTrip();">Add</button>
                    <button type="button" class="btn btn-primary" id="btnUpdate" style="display:none;" onclick="editTrip();">Update</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>

</div>

<script>

    // CONTEXT GLOBALS
    const _TripsURL = "/api/trips/";
    const _CountriesURL = "/api/trips/countries/";

    $(document).ready(function () {
        moment.locale('pl'); //not working
        loadTrips();
        $('#Date').datetimepicker({
            locale: 'pl'
        });
        $('#BT1').click(function () {
            loadTrips();
        });
    });
    // 

    // CONTEXT API
    // load countries
    function loadCountries(country) {

        _ajaxJson.get(_CountriesURL).done(function (result) {
            $('#Country').val(country);
            var options = '';
            $.each(result, function (key, item) {
                options += '<option value="' + item + '">' + item + '</option>';
            });
            $('#Country').append(options);
        });
    };   

    //load trips
    function loadTrips() {

        _ajaxJson.get(_TripsURL).done(function (result) {
            var html = '';
            $.each(result, function (key, item) {
                var date = toDateFormat(item.dateUTC);
                html += '<tr>';
                html += '<td>' + item.id + '</td>';
                html += '<td>' + item.title + '</td>';
                html += '<td>' + date + '</td>';
                html += '<td>' + item.destination + '</td>';
                html += '<td>' + item.country + '</td>';
                html += '<td class="columnToHide">' + item.userId + '</td>';
                html += getPermissionsForItem(item);
                html += '</tr>';
            });
            $('#tripsBody').html(html);
            $('.columnToHide').hide();
        });
    }

    // get trip by id
    function getTripByID(tripId) {

        _ajaxJson.get(_TripsURL + tripId).done(function (r) {
            loadCountries(r.country);
            $('#Title').val(r.title);
            $('#Destination').val(r.destination);
            $('#Date').val(toDateFormat(r.dateUTC));
            $('#Country').val(r.country);
            $('#TripId').val(r.id);
            $('#UserId').val(r.userId);

            $('#tripModal').modal('show');
            $('#btnUpdate').show();
            $('#btnAdd').hide();
        })
    }

    // post trip
    function addTrip() {

        if (!validate()) {
            return false;
        }

        var obj = {
            Title: $('#Title').val(),
            Destination: $('#Destination').val(),
            DateUTC: convertDateToUTC($('#Date').val()),
            Country: $('#Country').val()
        };

        _ajaxJson.post(_TripsURL, obj).done(function () {
            loadTrips();
            $('#tripModal').modal('hide');
        })
    }

    // edit trip
    function editTrip(id) {

        if (!validate()) {
            return false;
        }

        var obj = {
            Id: $('#TripId').val(),
            UserId: $('#UserId').val(),
            Title: $('#Title').val(),
            Destination: $('#Destination').val(),
            DateUTC: convertDateToUTC($('#Date').val()),
            Country: $('#Country').val()
        };

        _ajaxJson.put(_TripsURL, obj).done(function () {
            loadTrips();
            $('#tripModal').modal('hide');
        });
    }

    // delete trip
    function deleteTrip(id) {
        var ans = confirm("Are you sure you want to delete this Record?");
        if (ans) {
            _ajaxJson.delete(_TripsURL + id).done(function () {
                loadTrips();
            });
        }
    }
    // 

    // CONTEXT METHODS
    // permisions
    function getPermissionsForItem(item) {
        var isAdmin = @Json.Serialize(User.IsInRole("Admin"));
        var appUserId = @Json.Serialize(ViewData["AppUserId"]);
        var html = "";
        if (item.userId === appUserId || isAdmin) {
            html += '<td><a href="#" onclick="getTripByID(' + item.id + ')">Edit</a> | <a href="#" onclick="deleteTrip(' + item.id + ')">Delete</a></td>';
            }
        return html;
    }

    // clearing
    function clearTextBox() {

        loadCountries();
        $('#Title').val("");
        $('#Destination').val("");
        $('#Date').val(moment().format(_DateFormat));
        $('#Country').val("");
        $('#TripId').val("");
        $('#UserId').val("");

        $('#btnUpdate').hide();
        $('#btnAdd').show();
    }

    // validation
    function validate() {

        var isValid = true;

        function checkVal(sId) {
            if ($(sId).val().trim() == "") {
                $(sId).css('border-color', 'Red');
                isValid = false;
            }
            else {
                $(sId).css('border-color', 'lightgrey');
            }
        };

        checkVal('#Title');
        checkVal('#Destination');
        checkVal('#Date');
        checkVal('#Country');

        return isValid;
    }
    //

</script>


